
.fancy-icon-checked-entypo:before { content: '\e800'; } /* '' */
.fancy-icon-checked-modern:before { content: '\e801'; } /* '' */
.fancy-icon-checked-exclusive:before { content: '\e802'; } /* '' */
.fancy-icon-up-open:before { content: '\e803'; } /* '' */
.fancy-icon-pencil:before { content: '\e804'; } /* '' */
.fancy-icon-right-open:before { content: '\e82a'; } /* '' */
.fancy-icon-left-open:before { content: '\e82b'; } /* '' */
.fancy-icon-down-open:before { content: '\e82c'; } /* '' */